* {
  border: none;
  border-radius: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  color: #cdd6f4;
  background: transparent;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
}

#clock,
#custom-weather,
#workspaces,
#window,
#bluetooth,
#pulseaudio,
#language,
#tray,
#custom-logout {
  background: #1e1e2e;
  opacity: 0.8;
  padding: 0px 10px;
  border: 1px solid #181825;
  margin: 10px 0 0 10px;
  border-radius: 10px;
}

#clock {
  color: #fab387;
  border-radius: 10px 0px 0px 10px;
  border-right: 0;
}

#custom-weather {
  border-radius: 0px 10px 10px 0px;
  border-right: 0;
  margin-left: 0px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 10px;
  padding: 0 5px;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  transition: 0.15s ease-in-out;
}

#workspaces button.active,
#workspaces button:hover {
  color: #a6adc8;
  background: none;
}

#workspaces button.focused {
  color: #eba0ac;
}

#workspaces button.urgent {
  color: #a6e3a1;
}

#window {
  border-radius: 10px;
}

#bluetooth {
  color: #89b4fa;
  border-radius: 10px;
}

#pulseaudio {
  color: #89b4fa;
  border-radius: 10px 0 0 10px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  border-left: 0;
  border-radius: 0px 10px 10px 0px;
  margin-left: 0;
}

#language {
  border-radius: 10px;
}

#tray {
  border-radius: 10px;
}

#custom-logout {
  margin-right: 10px;
  padding: 0 11px 0 10px;
  font-size: 20px;
}
